@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{
.answer-table-wrapper{
    width:100%;
}
.answer-table-heading{
    width:100%;
    text-align: center;
}
.answer-table-outer{
    width:100%;
    padding:50px
}
.feedbackFormHolder{
    width:50%;
    margin-left: 25%;
    text-align: center;
    margin-top:50px;
}
.pp{
    padding: 15px;
}
}
