@media only screen and (max-width: 720px)
 {

.ant-col.ant-col-22
{
	
		margin-bottom:60px;
}

.ant-btn-group
{
	margin-right: 0px;
}
.ant-checkbox-wrapper
{
	margin-left: 5px;
}
.question-holder
{
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
}




}