.login-container{
    width:300px;
    height:350px;
    background-image: linear-gradient(to right,rgb(80,190,189),rgb(0,153,153),rgb(0,153,203));
    border-radius: 5px;
    position: relative;
    top:50%;
    bottom:50%;
    transform: translateY(-35%);
    float: right;
    right:100px;
}

.login-inner{
    padding: 50px 30px;
}

.lable{
    color: aliceblue;
    font-size: 15px;
}