@import '~antd/dist/antd.css';
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(0,95,135); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(0,70,105); 
}
.fileUpload-input{
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 12px 6px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.fileUpload-input::-webkit-file-upload-button {
    visibility: hidden;
}
.fileUpload-input:hover::before {
    border-color: black;
}
.fileUpload-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}