.trainee-registration-form-wrapper{
    position: absolute;
    width:100%;
    height:100%;
    background: rgb(205,217,225);
}
.trainee-registration-form-inner{
    background: linear-gradient(to right,rgb(80,190,189),rgb(0,153,153),rgb(0,153,203));
    width: 50%;
    padding:40px;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 80px;
}
.reasendmail-container-register{
    background: linear-gradient(to right,rgb(80,190,189),rgb(0,153,153),rgb(0,153,203));
    border-radius: 5px;
    width:50%;
    margin-left: 25%;
    margin-top: 80px;
    min-height: 100px;
    padding:40px;
    text-align: center;
    color: #fff;
}
@media all and  (max-device-width : 768px)  and (min-device-width : 320px)
{
	.trainee-registration-form-inner {
    background: linear-gradient(to right,rgb(80,190,189),rgb(0,153,153),rgb(0,153,203));
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 5px;
    margin-left: 0;
    margin-top: 0;
	}
	.ant-col-12 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
	}
	.reasendmail-container-register {
    background: linear-gradient(to right,rgb(80,190,189),rgb(0,153,153),rgb(0,153,203));
    border-radius: 5px;
    width: 85%;
    height: 40%;
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100px;
    padding: 25px;
    text-align: center;
    color: #fff;
	}
}
